<html>
    <head>
        <meta lang="ko" />
        <meta charset="utf-8" />
    </head>
    <body>
        <header>
            <h1>SpringBoot Web Test</h1>
        </header>
        <main>
            <div>Body</div>
        </main>
    </body>
</html>